<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionReader"
          class="ru.otus.tests.service.CsvQuestionReader">
        <constructor-arg name="csvIn" value="/questions.csv"/>
    </bean>
    <bean id="questionWriter"
          class="ru.otus.tests.service.ConsoleQuestionWriter">
    </bean>
</beans>